<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <nav>
        <div class="nav-bar">
            <img id="logo" src="assets/img/logo.svg" alt="">
            <ul class="nav-links">
                <li><a href="">Why Alivio</a></li>
                <li><a href="">Solutions</a></li>
                <li><a href="">Community</a></li>
                <li><a href="">Pricing</a></li>
            </ul>
        </div>
        <div class="sign-nav">
            <a href="">Sign in</a>
            <button class="green-button">Start Trial</button>
        </div>
    </nav>

    <header>
        <section class="header-intro">
            <h1>Be aware, Manage well.</h1>
            <p>Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.</p>
            <button class="green-button">Find your way</button>
        </section>
    </header>

    <section id="community">
        <div class="custom">
            <img class="custom-card" src="../assets/img/Card.png" alt="">
        </div>

        <div class="community-intro">
            <h3 class="how__h3">Our product</h3>
            <h2>You tell us your stress, We make your diary</h2>
            <p>Everyone experiences it, and in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.</p>
            <button class="green-button">Find your way</button>
        </div>
    </section>

    <footer>       
        <ul id="footer-nav">
            <li> <img class="footer__img" src="assets/img/logo_white.svg"" alt="alivio logo"></li>
            <li><a href="">Why Alivio</a></li>
            <li><a href="">Solutions</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">Pricing</a></li>
        </ul>
    </footer>
</body>
</html>