<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <nav>
        <div class="nav-bar">
            <img id="logo" src="assets/img/logo.svg" alt="">
            <ul class="nav-links">
                <li><a href="/index">Why Alivio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
        </div>
        <div class="sign-nav">
            <a href="">Sign in</a>
            <button class="green-button">Start Trial</button>
        </div>
    </nav>

    <header>
        <section class="header-intro">
            <h1>Be aware, Manage well.</h1>
            <p>Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.</p>
            <button class="green-button">Find your way</button>
        </section>
    </header>

    <section id="howWorks">
        <div class="how__left">
            <h3 class="how__h3">How it works</h3>
            <h2>Understand & Release the stress in 3 steps</h2>
        </div>

        <p class="how__p">Alivio offers as many journals it takes, tackling different areas such as anxiety, overwhelmedness, sadness, or anger, and a variety of personal causes, to help you become aware of your emotions, and guide you in how to manage stress.</p>
    </section>

    <section class="cards">
        <article class="card">
            <div>
                <h4 class="card__number">01</h4>
                <h3 class="card__title">Personalize</h3>
            </div>
            <p class="card__p">Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!</p>
            <img class="card-img" src="assets/img/card1_1.png" alt="">
        </article>

        <article class="card">
            <div>
                <h4 class="card__number">02</h4>
                <h3 class="card__title right">Write & Understand</h3>
            </div>
            <p class="card__p">Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage your stress!</p>
            <img class="card-img" src="assets/img/card2.png" alt="">
        </article>

        <article class="card">
            <div>
                <h4 class="card__number">03</h4>
                <h3 class="card__title">Alivio</h3>
            </div>
            <p class="card__p">Now you are aware, and have a way to manage and overcome your own stress. What are you waiting for? Alivio today!</p>
            <img class="card-img" src="assets/img/card3.png" alt="">
        </article>
    </section>

    <footer>       
        <ul id="footer-nav">
            <li> <img class="footer__img" src="assets/img/logo_white.svg"" alt="alivio logo"></li>
            <li><a href="">Why Alivio</a></li>
            <li><a href="">Solutions</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">Pricing</a></li>
        </ul>
    </footer>
</body>
</html>